html {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  line-height: 1.2;
}

:root {
  --accent: #da600f;
  --accent-txt: white;
  --accent-hover: #f08c53;
  --accent-hover-txt: black;
}

body {
  margin: 0;
}

.wrap {
  margin: 0 auto;
  max-width: 896px;
  padding: 0 20px;
  box-sizing: border-box;
}

.container {
  display: flex;
  justify-content: space-between;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}